-- a numbered procedure containing
-- which is an obsolete feature and will be removed
/* in the future */ create procedure p1;2 /* this right here is a parameter */  @p2 nvarchar(20) as -- useless comment
select @p2