# Note: This file isn't used in current setup. Instead its parts have been
# set directly in the AppVeyor project settings - Environment, General, Build, Test sections.
# This allows us to get Coveralls to run on PRs, but is more work than just using this file.
# Preserving this here so that it's easy to replicate for others
environment:
    COVERALLS_REPO_TOKEN:  
       secure: KjiClJjgj/eB1zo52GBz/CHCmdxj6ut+q6+LD5G3sYhy9Hi4kEF6CWi8vOQPH1oy

# safelist
branches:
  only:
    - master

install:
  # Download .NET Core 2.0 Preview 1 SDK and add to PATH
  - ps: $urlCurrent = "https://download.microsoft.com/download/0/6/5/0656B047-5F2F-4281-A851-F30776F8616D/dotnet-dev-win-x64.2.0.0-preview1-005977.zip"
  - ps: $env:DOTNET_INSTALL_DIR = "$pwd\.dotnetsdk"
  - ps: mkdir $env:DOTNET_INSTALL_DIR -Force | Out-Null
  - ps: $tempFileCurrent = [System.IO.Path]::GetTempFileName()
  - ps: (New-Object System.Net.WebClient).DownloadFile($urlCurrent, $tempFileCurrent)
  - ps: Add-Type -AssemblyName System.IO.Compression.FileSystem; [System.IO.Compression.ZipFile]::ExtractToDirectory($tempFileCurrent, $env:DOTNET_INSTALL_DIR)
  - ps: $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"

before_build:
- appveyor-retry dotnet restore -v Minimal

build_script:
  - dotnet build src/Microsoft.SqlTools.ServiceLayer

test_script:
  - dotnet test test/Microsoft.SqlTools.ServiceLayer.UnitTests

after_test:
  - cd test/CodeCoverage
  - npm install -g gulp-cli
  - runintegration.bat
  - cmd: packages\coveralls.io.1.3.4\tools\coveralls.net.exe --opencover coverage.xml

cache:
- '%USERPROFILE%\.nuget\packages'
