<?xml version="1.0" encoding="utf-8"?>
<configuration >
  <packageSources>   
    <!-- Add the SSMS repo for private requirements -->
    <add key="SQLDS - SSMS" value="http://SQLISNuget/DS-SSMS/nuget/" />
    <add key="Nuget-Local" value="D:\Repos\nuget-local" />
    <add key="DataTools Nuget" value="http://dtnuget/api/v2/" />
  </packageSources>
</configuration>
