<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Nuget Preview" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="Nuget" value="https://www.nuget.org/api/v2" />
    <add key="DataTools Nuget" value="./bin/nuget" />    
    <!-- temporary-->
    <add key="LocalDev" value="\\MININT-T0C428H\shared\SSMSNugets" />
  </packageSources>
</configuration>
