<?xml version="1.0" encoding="utf-8"?>
<configuration >
  <packageSources>
    <clear />
    <add key="Nuget" value="https://www.nuget.org/api/v2" />
    <add key="Myget" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />  
    <add key="DataTools Nuget" value="./bin/nuget" />    
  </packageSources>
</configuration>
