<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Data.SqlClient" version="4.4.0-preview1-25305-02" />
	<package id="Microsoft.SqlServer.Smo" version="140.17054.0" />
	<package id="Microsoft.SqlServer.Management.SqlScriptPublishModel" version="140.17050.0" />
	<package id="Newtonsoft.Json" version="10.0.2" />
	<package id="Microsoft.Extensions.DependencyModel" version="2.0.0-preview1-002111" />
	<package id="System.Runtime.Loader" version="4.3.0" />
	<package id="System.Composition" version="1.0.31-beta-24326-02" />
</packages>
