<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Data.SqlClient" version="4.6.0-preview3-27014-02" />
	<package id="Microsoft.SqlServer.Management.SqlScriptPublishModel" version="140.17050.0" />
	<package id="Newtonsoft.Json" version="10.0.2" />
	<package id="Microsoft.Extensions.DependencyModel" version="2.1.0" />
	<package id="System.Runtime.Loader" version="4.3.0" />
	<package id="System.Composition" version="1.2.0" />
</packages>
