<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.17.0" />
    <package id="Newtonsoft.Json" version="8.0.3" />
    <package id="Microsoft.DataTools.SrGen" version="1.0.2" />
    <package id="Mono.TextTransform" version="1.0.0" />
    <package id="mssql.XliffParser" version="0.5.3" />
</packages>