<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="Cake" version="0.37.0" />
    <package id="Newtonsoft.Json" version="13.0.2" />
    <package id="Microsoft.Data.Tools.StringResourceTool" version="4.3.0" />
    <package id="Mono.TextTransform" version="1.0.0" />
    <package id="fmdev.XliffParser" version="0.5.6" />
    <package id="fmdev.ResX" version="0.3.2" />
    <package id="xunit.runner.console" version="2.4.1" />
</packages>