steps:
- task: AzureKeyVault@1
  displayName: 'Azure Key Vault: ado-secrets'
  inputs:
    azureSubscription: 'STS Pipelines' # this is the name of the service connection, which be found in mssqltools/CrossPlatBuildScripts ADO under Project Settings -> Service Connections
    KeyVaultName: 'ado-secrets'
    SecretsFilter: 'github-distro-mixin-password,ado-crossplatbuildscripts-password'

- checkout: git://CrossPlatBuildScripts/CrossPlatBuildScripts
  displayName: Clone CrossPlatBuildScripts

- task: DownloadBuildArtifacts@0
  displayName: 'Download build drop artifacts'
  inputs:
    buildType: 'current'
    downloadType: 'single'
    artifactName: 'drop'
    itemPattern: '**/*'
    downloadPath: '$(Agent.TempDirectory)'

- task: CopyFiles@2
  displayName: 'Copy build drop artifacts to: $(Build.SourcesDirectory)/artifacts/package/artifacts/package'
  inputs:
    SourceFolder: '$(Agent.TempDirectory)/drop'
    TargetFolder: '$(Build.SourcesDirectory)/artifacts/package'

- script: |
    cd $(Build.SourcesDirectory)/artifacts/package
    rm Microsoft.SqlTools.ServiceLayer-osx-arm64-unsigned-net8.0.tar.gz
    rm Microsoft.SqlTools.Migration-osx-arm64-unsigned-net8.0.tar.gz
  displayName: 'Delete the unsigned arm64-osx packages'

- task: PowerShell@2
  displayName: 'Run Automated Release Script'
  inputs:
    filePath: '$(System.DefaultWorkingDirectory)/AutomatedReleases/sqltoolsserviceRelease.ps1'
    arguments: '-workspace $(Build.SourcesDirectory) -minTag $(Major).$(Minor).$(Patch).0 -target $(Build.SourceBranch) -isPrerelease $false -artifactsBuildId $(Build.BuildId)'
    workingDirectory: '$(Build.SourcesDirectory)'
  env:
    GITHUB_DISTRO_MIXIN_PASSWORD: $(github-distro-mixin-password)
    ADO_CROSSPLATBUILDSCRIPTS_PASSWORD: $(ado-crossplatbuildscripts-password)
